{% extends 'base.html.twig' %}

{% block title %}Créer un compte{% endblock %}

{% block body %}
    <div class="flex flex-col justify-center items-center mt-28 text-center px-6 md:px-0">
        <div class="text-red-500 mb-4">
            {{ form_errors(registrationForm) }}
        </div>

        {{ form_start(registrationForm) }}
            <h1 class="text-4xl mb-12 font-semibold ">Créer un compte</h1>

            <div class="mb-6">
                {{ form_row(registrationForm.username, {
                    'label_attr': {'class': 'text-2xl'},
                    'attr': {'class': 'pl-4 mt-2 block w-72 h-10 border border-black rounded-xl focus:outline-none focus:ring-2 focus:ring-black focus:border-black'}
                }) }}
            </div>

            <div class="mb-6">
                {{ form_row(registrationForm.email, {
                    'label_attr': {'class': 'text-2xl'},
                    'attr': {'class': 'pl-4 mt-2 block  w-72 h-10 border border-black  rounded-xl focus:outline-none focus:ring-2 focus:ring-black focus:border-black'}
                }) }}
            </div>

            <div class="mb-6">
                {{ form_row(registrationForm.plainPassword, {
                    'label_attr': {'class': 'text-2xl'},
                    label: 'Mot de passe',
                    'attr': {'class': 'pl-4 mt-2 block w-72 h-10 border border-black  rounded-xl focus:outline-none focus:ring-2 focus:ring-black focus:border-black'}
                }) }}
            </div>
            <div class="mb-6">
                {{ form_row(registrationForm.confirmPassword, {
                    'label_attr': {'class': 'text-2xl'},
                    label: 'Confirmer',
                    'attr': {'class': 'pl-4 mt-2 block w-72 h-10 border border-black  rounded-xl focus:outline-none focus:ring-2 focus:ring-black focus:border-black'}
                }) }}
            </div>
            <div class="mb-6">
                <div class="flex items-center justify-center space-x-2">
                    {{ form_widget(registrationForm.agreeTerms, {
                        'label_attr': {'class': 'text-2xl'},
                        'attr': {
                            'class': 'form-checkbox h-5 w-5 text-blue-500 focus:ring-blue-400 rounded'
                        }
                    }) }}
                    <label for="{{ registrationForm.agreeTerms.vars.id }}" class="text-sm text-gray-700">
                        J’accepte les <a href="/conditions-generales" class="text-blue-500 underline hover:text-blue-700">
                            conditions générales
                        </a>.
                    </label>
                </div>
                {{ form_errors(registrationForm.agreeTerms) }}
            </div>
            <button type="submit" class="bg-button hover:bg-blackgreen transition delay-100 duration-300 ease-in-out text-white p-2 rounded-lg">
                Confirmer
            </button>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
