<nav class="{% if app.request.attributes.get('_route') == 'app_main' %}accueil-nav {% endif %}bg-navgreen text-white fixed bottom-0 w-full flex justify-around items-center py-2 px-4 md:flex-row md:top-0 md:left-0 z-50 md:h-16">
  <div class="hidden md:block md:flex md:flex-row items-center">
    <img src="{{ asset('img/logo.png') }}" alt="Logo" class="md:h-16 md:w-16">
    <span>Waw.travel</span>
  </div>
  <div class="md:flex md:justify-start flex flex-row items-center {% if app.user %}gap-7{% else %}gap-24{% endif %}">
    <a class="flex flex-col md:flex-row items-center text-xs md:text-base md:font-semibold hover:text-gray-300 {% if app.request.attributes.get('_route') == 'app_main' %}active{% endif %} md:mr-5" href="{{ path('app_main') }}">
      <div class="circle">
        <img class="  h-6 w-6 mb-1 md:hidden md:font-semibold md:mb-0" src="{{ asset('img/home.svg') }}" alt="Accueil">
      </div>
      <span>Accueil</span>
    </a>

    <a class="flex flex-col md:flex-row items-center text-xs md:text-base md:font-semibold hover:text-gray-300 {% if app.request.attributes.get('_route') == 'app_roadtrips' %}active{% endif %} md:mr-5" href="{{ path('app_roadtrips') }}">
      <div class="circle">
        <img class="h-6 w-6 mb-1 md:hidden md:mb-0" src="{{ asset('img/voyage.svg') }}" alt="Voyages">
      </div>
      <span>Road trips</span>
    </a>

    {% if app.user %}
      <a class="flex flex-col md:flex-row items-center text-xs md:text-base md:font-semibold hover:text-gray-300 {% if app.request.attributes.get('_route') == 'app_new_roadtrip' %}active{% endif %} md:mr-5" href="{{ path('app_new_roadtrip') }}">
        <div class="circle">
          <img class="h-6 w-6 mb-1 md:hidden  md:mb-0" src="{{ asset('img/add.svg') }}" alt="Créer road trips">
        </div>
        <span>Créer road trips</span>
      </a>

      <a class="flex flex-col md:flex-row items-center text-xs md:text-base md:font-semibold hover:text-gray-300 {% if app.request.attributes.get('_route') == 'app_profile' %}active{% endif %} md:mr-5" href="{{ path('app_profile') }}">
        <div class="circle">
          <img class="h-6 w-6 mb-1 md:hidden  md:mb-0" src="{{ asset('img/user.svg') }}" alt="Profil">
        </div>
        <span>Profil</span>
      </a>
    {% else %}
      <a class="flex flex-col md:flex-row items-center text-xs md:text-base md:font-semibold hover:text-gray-300 {% if app.request.attributes.get('_route') == 'app_login' %}active{% endif %} md:mr-5" href="{{ path('app_login') }}">
        <div class="circle">
          <img class="h-6 w-6 mb-1 md:hidden  md:mb-0" src="{{ asset('img/user.svg') }}" alt="Connexion">
        </div>
        <span>Connexion</span>
      </a>

      <a class="hidden flex flex-col text-lg md:flex-row items-center  md:text-base md:font-semibold hover:text-gray-300 md:block {% if app.request.attributes.get('_route') == 'app_register' %}active{% endif %} md:mr-5" href="{{ path('app_register') }}">
        <span>S'inscrire</span>
      </a>
    {% endif %}
  </div>
</nav>
<script src="{{ asset('js/navAnimation.js') }}" defer></script>

<style>
.active{
  border-bottom: 2px solid white;
}
.accueil-nav{
  background-color: transparent;
  transition: all 0.2s ease-in-out;
}

.accueil-nav.scroll{
  background-color: #1B580F;
}

@media (max-width: 1250px){
  .active{
    border-bottom: 0px solid black;
    
  }
  .active .circle{
    background: #23A300;
    border-radius: 100%;
    padding: 10px;
  }
  .accueil-nav{
    background: #1B580F;
  }
}
</style>